In [277]:
participant_email = "a.revuka@gmail.com"

# How to complete this assignment
Complete 15 graded tasks below.

- Do not delete or rename the variables given before the inscription `#your code here`.
- Do not change the code in the last Notebook cell, it is required for the server check.

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [3]:
import pandas as pd

pd.set_option('display.max_column', None)

In [4]:
player_data = pd.read_csv("player_data.csv", index_col="Unnamed: 0")

In [5]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [6]:
players_180_190 = player_data[(player_data["height"] >= 180) & (player_data["height"] <= 190)].shape[0]
players_180_190

5925

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>

In [7]:
player_data["birthday"] = pd.to_datetime(player_data["birthday"])
players_1980 = player_data[player_data["birthday"].dt.year == 1980].shape[0]
players_1980

434

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [21]:
highest_players = player_data.sort_values(by=["weight", "player_name"], ascending=False).head(10)
highest_players

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
10297,10313,27313,Tim Wiese,53012,1981-12-17,193.04,243
5901,5908,148325,Kristof van Hout,185306,1987-02-09,208.28,243
4879,4884,5044,Jeroen Verhoeven,137692,1980-04-30,198.12,227
4408,4412,27267,Ishmael Miller,169725,1987-03-05,193.04,225
6762,6772,30669,Marcus Hahnemann,53785,1972-06-15,190.50,220
5969,5976,210822,Lars Unnerstall,199833,1990-07-20,198.12,220
1819,1822,19020,Christopher Samba,46590,1984-03-28,193.04,220
1595,1598,101584,Cassio,167958,1987-06-06,195.58,220
10816,10832,93450,Wojciech Kaczmarek,188920,1983-03-29,200.66,218
3026,3030,33060,Enoch Showunmi,157589,1982-04-21,195.58,218

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [284]:
players_1980_1990 = player_data[(player_data["birthday"].dt.year >= 1980) & 
                                (player_data["birthday"].dt.year <= 1990)]

years_born_players = list(zip(range(1980, 1991), players_1980_1990.groupby(player_data["birthday"].dt.year)["id"].count()))
years_born_players

[(1980, 434),
 (1981, 475),
 (1982, 487),
 (1983, 541),
 (1984, 607),
 (1985, 593),
 (1986, 710),
 (1987, 722),
 (1988, 802),
 (1989, 723),
 (1990, 696)]

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [285]:
adriano_df = player_data[player_data["player_name"].str.startswith("Adriano")]

adriano_mean, adriano_std = (adriano_df["height"].mean(), adriano_df["height"].std())
print(f"adriano_mean: {adriano_mean}\nadriano_std: {adriano_std}")

adriano_mean: 182.118
adriano_std: 5.361479480723788

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [286]:
hm_players_born_each_day = player_data.groupby(player_data["birthday"].dt.day_name())["birthday"].count()
print(hm_players_born_each_day)

dow_with_min_players_born = hm_players_born_each_day.idxmin()
dow_with_min_players_born

birthday
Friday       1685
Monday       1643
Saturday     1463
Sunday       1362
Thursday     1648
Tuesday      1652
Wednesday    1607
Name: birthday, dtype: int64

'Sunday'

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

*Note*: Use league_data.csv and match_data.csv

In [287]:
league_data = pd.read_csv("league_data.csv", index_col="Unnamed: 0")
match_data = pd.read_csv("match_data.csv", index_col="Unnamed: 0")

In [288]:
league_data.head()

   league_id  country_id             league_name
0          1           1  Belgium Jupiler League
1       1729        1729  England Premier League
2       4769        4769          France Ligue 1
3       7809        7809   Germany 1. Bundesliga
4      10257       10257           Italy Serie A

In [289]:
match_data.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [290]:
league_data['matches_count'] = match_data.groupby("league_id")["league_id"].count().values

league_most_matches = league_data.sort_values(by=["matches_count", "league_name"], ascending=False).head(1)
league_most_matches

   league_id  country_id      league_name  matches_count
9      21518       21518  Spain LIGA BBVA           3040

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable (use match_data['home_player_N', 'away_player_N'])

In [291]:
home_players = [f"home_player_{number}" for number in range(1, 12)]
away_players = [f"away_player_{number}" for number in range(1, 12)]
home_players.extend(away_players)

player_appearances = {}

for player_column in home_players:

    for player_id in match_data[player_column].dropna().astype(int):

        if player_id in player_appearances:
            player_appearances[player_id] += 1
        else:
            player_appearances[player_id] = 1

most_appearances_player_id = max(player_appearances, key=player_appearances.get)

max_matches_player = player_data[player_data["player_api_id"] == most_appearances_player_id]["player_name"].iloc[0]
max_matches_player

'Steve Mandanda'

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

In [292]:
player_attributes = pd.read_csv('player_attributes.csv', index_col="Unnamed: 0")

In [293]:
player_attributes.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [294]:
columns_ignore = ["id", "player_fifa_api_id", "player_api_id", "date", "preferred_foot", "attacking_work_rate", "defensive_work_rate"]
characteristics_columns = [column for column in player_attributes.columns if not column in columns_ignore]

def calculate_correlation(columns_pair: tuple) -> float:
    correlation = player_attributes[list(columns_pair)].corr().iloc[0, 1]
    return correlation

def make_pair_with_correlation(columns: list) -> dict:
    result = {}
    for i, column in enumerate(columns):
        for j in range(i + 1, len(columns)):
            correlation = calculate_correlation((column, columns[j]))
            result[(column, columns[j])] = correlation
    return result
    
pair_with_correlation = make_pair_with_correlation(characteristics_columns)
pair_sorted = dict(sorted(pair_with_correlation.items(), key=lambda item: item[1], reverse=True))

top_correlated_features = list(pair_sorted.keys())[:5]
top_correlated_features

[('gk_positioning', 'gk_reflexes'),
 ('gk_handling', 'gk_positioning'),
 ('gk_handling', 'gk_reflexes'),
 ('standing_tackle', 'sliding_tackle'),
 ('marking', 'standing_tackle')]

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [295]:
import numpy as np


neymar_id = player_data[player_data['player_name'] == "Neymar"]["player_api_id"].iloc[0]
neymar_characteristics = player_attributes[player_attributes["player_api_id"] == neymar_id].sort_values(by=["date"], ascending=False).head(1)[characteristics_columns].values

player_attributes_sorted = player_attributes.sort_values(by='date', ascending=False)
player_attributes_grouped = player_attributes_sorted.groupby('player_api_id').first().reset_index()

def euclidean_distance(vec1, vec2):
    return np.sqrt(np.sum((vec1 - vec2) ** 2))

distances = {}

for idx, row in player_attributes_grouped.iterrows():
    player_id = row["player_api_id"]
    player_name = player_data[player_data["player_api_id"] == player_id]["player_name"].iloc[0]
    player_characteristics = row[characteristics_columns].values
    distance = euclidean_distance(neymar_characteristics, player_characteristics)
    distances[player_name] = distance

sorted_distances = sorted(distances.items(), key=lambda x: (x[1], x[0]))

neymar_similarities = sorted_distances[:5]
neymar_similarities

[('Iago Aspas', 46.32493928760188),
 ('Dusan Tadic', 61.7008914036094),
 ('Scott Sinclair', 64.97691897897283),
 ('Andrey Arshavin', 69.4118145563131),
 ('Alexandr Kerzhakov', 71.57513534740957)]

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [296]:
team_data = pd.read_csv('team_data.csv', index_col="Unnamed: 0")

In [297]:
team_data.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [298]:
borussia_dortmund_id = team_data[team_data["team_long_name"] == "Borussia Dortmund"]["team_api_id"].iloc[0]
germany_bundesliga_id = league_data[league_data["league_name"] == "Germany 1. Bundesliga"]["league_id"].iloc[0]
matches_2008_2009 = match_data[(match_data["season"] == "2008/2009") & (match_data["league_id"] == germany_bundesliga_id)]

borussia_bundesliga_2008_2009_matches = matches_2008_2009[matches_2008_2009["home_team_api_id"] == borussia_dortmund_id].shape[0]
borussia_bundesliga_2008_2009_matches

17

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [299]:
home_matches = matches_2008_2009.groupby("home_team_api_id")["home_team_api_id"].count()
away_matches = matches_2008_2009.groupby("away_team_api_id")["away_team_api_id"].count()

total_matches_count = home_matches.add(away_matches)
team_with_most_matches = total_matches_count.idxmax()

team_most_matches_bundesliga_2008_2009 = total_matches_count.max()
team_most_matches_bundesliga_2008_2009

34

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [300]:
arsenal_team_id = team_data[team_data["team_long_name"] == "Arsenal"]["team_api_id"].iloc[0]
matches_2015_2016 = match_data[match_data["season"] == "2015/2016"]

arsenal_home_matches = matches_2015_2016[matches_2015_2016["home_team_api_id"] == arsenal_team_id]
arsenal_away_matches = matches_2015_2016[matches_2015_2016["away_team_api_id"] == arsenal_team_id]

arsenal_home_matches_won = arsenal_home_matches[arsenal_home_matches["home_team_goal"] > arsenal_home_matches["away_team_goal"]].shape[0]
arsenal_away_matches_won = arsenal_away_matches[arsenal_away_matches["away_team_goal"] > arsenal_away_matches["home_team_goal"]].shape[0]

arsenal_won_matches_2015_2016 = arsenal_home_matches_won + arsenal_away_matches_won
arsenal_won_matches_2015_2016

20

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [301]:
def winner(row):
    if row["home_team_goal"] > row["away_team_goal"]:
        return row["home_team_api_id"]
    else: 
        return row["away_team_api_id"]
    
columns = ["id", "country_id", "league_id", "season", "stage", "date", "match_api_id", "home_team_api_id", "away_team_api_id", "home_team_goal", "away_team_goal"]

matches_2015_2016 = matches_2015_2016[columns]
matches_2015_2016["team_won_id"] = matches_2015_2016.apply(winner, axis=1)

all_matches_count = matches_2015_2016.shape[0]

team_wins_count = matches_2015_2016["team_won_id"].value_counts()

win_rates = team_wins_count / all_matches_count

team_highest_winrate_2015_2016 = team_data[team_data["team_api_id"] == win_rates.idxmax()]["team_long_name"].iloc[0]
team_highest_winrate_2015_2016

'Real Madrid CF'

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [302]:
def count_max_gap_team(matches):
    gap_max = 0
    matches_sorted = matches.sort_values(by="date", ascending=False)
    for i in range(len(matches) - 1):
        gap = matches_sorted.iloc[i]["date"] - matches_sorted.iloc[i + 1]["date"]
        gap_days = gap.days
        if gap_days > gap_max:
            gap_max = gap_days
    return gap_max


epl_league_id = league_data[league_data["league_name"] == "England Premier League"]["league_id"].iloc[0]
epl_matches_2010_2011 = match_data[(match_data["league_id"] == epl_league_id) & (match_data["season"] == "2010/2011")][columns]

comands_id = pd.concat([epl_matches_2010_2011["home_team_api_id"], epl_matches_2010_2011["away_team_api_id"]]).unique()

gap_teams_england_2010_2011 = {}

for team in comands_id:
    home_team_matches = epl_matches_2010_2011[(epl_matches_2010_2011["home_team_api_id"] == team)]
    away_team_matches = epl_matches_2010_2011[(epl_matches_2010_2011["away_team_api_id"] == team)]
    matches_team = pd.concat([home_team_matches, away_team_matches])
    matches_team["date"] = pd.to_datetime(matches_team["date"])
    max_gap = count_max_gap_team(matches_team)
    name_team = team_data[team_data["team_api_id"] == team]["team_long_name"].iloc[0]
    gap_teams_england_2010_2011[name_team] = max_gap

sorted_distances = sorted(gap_teams_england_2010_2011.items(), key=lambda x: (x[1], x[0]), reverse=True)

highest_gap_england_2010_2011 = sorted_distances[0][0]
highest_gap_england_2010_2011

'Liverpool'

### Warning! Do not change anything in the area below

In [303]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")